
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --background-color: lightskyblue;
    --background-color1: black;
}

body {
    display: block;
    position: relative;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
    padding: 2rem;
}

input.hamburgerChecker {
    display: none;
}

input.hamburgerChecker:checked + .top-header .hamburger-icon .line-1 {
    transform: scaleX(0);
}

input.hamburgerChecker:checked + .top-header .hamburger-icon span:not(.line-1) {
    top: 14px;
}

input.hamburgerChecker:checked + .top-header .hamburger-icon span.line-0 {
    transform: rotate(-135deg) scaleX(75%);
}

input.hamburgerChecker:checked + .top-header .hamburger-icon span.line-2 {
    transform: rotate(135deg) scaleX(75%);
}

input.hamburgerChecker:checked + .top-header + .main-content {
    margin-top: 7rem;
}

.top-header {
    position: relative;
}

.logo {
    display: block;
    position: relative;
    background-color: var(--background-color1);
}

.logoText {
    position: absolute;
    top: 1.9rem;
    left: 0.8rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.logo::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    border: 1rem solid var(--secondary-color);
    border-top: 0.5rem solid transparent;
    margin-top: 1.6rem;
}

label.hamburger-icon {
    display: flex;
    justify-content: end;
    position: relative;
    top: 1.5rem;
    right: 0;
    transition: all 400ms ease-out 4ms;
}

span[class |= 'line'] {
    display: block;
    position: absolute;
    min-width: 30px;
    min-height: 2px;
    background-color: var(--secondary-color);
    transition: all 400ms ease-in 4ms;
}

span.line-0 {
    top: 7px;
}

span.line-1 {
    top: 14px;
}

span.line-2 {
    top: 21px;
}

.top-nav {
    transition: all 400ms linear 4ms;
    height: 0;
    transform: translateY(-100%) scaleY(0);
}

.top-nav[data-opened = 'true'] {
    transform: translateY(5rem) scaleY(1);
    height: initial;
}

.navItem {
    list-style: none;
    margin-bottom: 1.5rem;
}

.navLink {
    display: block;
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5rem;
    color: var(--secondary-color);
    text-align: center;
    transition: all 400ms ease-in-out 4ms;
}

.navLink:active {
    background-color: var(--secondary-color);
    color: white;
    transition: none;
}

.main-content {
    transition: all 400ms ease-in 4ms;
    margin-top: 5rem;
}

.content {
    padding: 2rem 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    margin: 0 0 2.5rem 0;
}

.content:not(.services) {
    background-color: var(--background-color1);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

.content:not(.services),
div [class |= 'service'] {
    box-shadow: 0 0 0.5rem var(--secondary-color),
    0.1rem 0.2rem 0.3rem var(--secondary-color);
}

.content h1 {
    margin: 1.5rem 2rem;
    font-weight: 100;
}

.services h1 {
    color: var(--secondary-color);
}

.serviceWrapper {
    display: block;
}

div[class = 'service'] {
    display: block;
    padding: 2rem 1.2rem;
    margin: 0 0 1.5rem 0;
    background-color: var(--background-color1);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

div[class = 'service'] h2 {
    padding: 1.5rem 0.6rem;
    font-weight: 300;
}

div[class = 'service'] span.text {
    display: block;
    transform-origin: top;
    height: 0;
    transform: scaleY(0);
    transition: all 400ms ease 4ms;
}

div[class = 'service'] .etc {
    display: block;
    float: right;
    text-decoration: none;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
    transform: rotate(180deg);
    border: none;
}

div[class = 'service'] .etc::before,
div[class = 'service'] .etc::after {
    content: '';
    display: block;
    min-width: 1rem;
    min-height: 0.3rem;
    position: absolute;
    top: 0.7rem;
    background-color: black;
}

div[class = 'service'] .etc::before {
    left: 0.25rem;
    transform: rotate(-45deg);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

div[class = 'service'] .etc::after {
    right: 0.25rem;
    transform: rotate(45deg);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

div[data-status = 'expanded'] .etc {
   transform: rotate(0deg);
}

div[data-status = 'expanded'] span.text {
    height: initial;
    transform: scaleY(1);
}

button.etc:active {
    background-color: green;
    outline: none;
}

a.gotop {
    display: block;
    border-radius: 50%;
    min-height: 3rem;
    min-width: 3rem;
    background-color: darkgray;
    border: 3px solid white;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
}

a.gotop:active {
    background-color: green;
}

span[class |= 'gotop-line'] {
    min-width: 1.5rem;
    min-height: 0.2rem;
    display: block;
    background-color: white;
    position: absolute;
    top: 1rem;
}

span.gotop-line-1 {
    transform: translateX(-0.4rem) rotate(-45deg);
    left: 0.5rem;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

span.gotop-line-2 {
    transform: translateX(0.4rem) rotate(45deg);
    right: 0.5rem;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
