
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(32, 42, 46);
    --secondary-color: rgb(0, 0, 0);
    --ternary-color: rgb(255, 255, 255);
    --background-color: rgb(183, 210, 224);
    --background-color1: rgb(156, 201, 223);
}

body {
    display: block;
    position: relative;
    background: var(--background-color);
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
    padding: 2rem;
    z-index: 1;
}

button {
    cursor: pointer;
    background-color: transparent;
}

.opened .line-1 {
    transform: scaleX(0);
}

.opened span:not(.line-1) {
    top: 1rem;
}

.opened span.line-0 {
    transform: rotate(-135deg) scaleX(75%);
}

.opened span.line-2 {
    transform: rotate(135deg) scaleX(75%);
}

.top-header {
    position: relative;
}

.top-header:has(button.opened) ~ main.main-content {
    margin-top: 9rem;
}

a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--ternary-color);
    float: left;
    top: 1.7rem;
    left: 1rem;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline-style: solid;
    outline-color: transparent;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    z-index: 1;
}

a.logo::before {
    content: '';
    display: block; 
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem solid var(--primary-color);
    border-top: 0.5rem solid transparent;
    z-index: -1;
}

a.logo:focus {
    color: var(--primary-color);
}

a.logo:focus::before {
    border: 1rem solid var(--ternary-color);
    border-top: 0.5rem solid transparent;
}

button.hamburger-button {
    border: none;
    display: flex;
    float: right;
    position: relative;
    top: 1.7rem;
    right: 1rem;
    min-height: 2rem;
    min-width: 2rem;
}

button.hamburger-button:focus {
    outline-style: solid; 
    outline-color: transparent;
}

button.hamburger-button:focus span[class |= 'line'] {
    background-color: var(--ternary-color);
}

span[class |= 'line'] {
    display: block;
    position: absolute;
    min-width: 1.5rem;
    min-height: 0.15rem;
    background-color: var(--secondary-color);
    transition: all 400ms ease-in 4ms;
    left: 0.25rem;
}

span.line-0 {
    top: 0.5rem;
}

span.line-1 {
    top: 1rem;
}

span.line-2 {
    top: 1.5rem;
}

.top-nav {
    height: 0;
    clear: both;
}

.top-nav > .nav-menu {
    transform: translateY(-200%);
    transition: all 400ms linear 4ms;
}

.top-nav[data-opened = 'true'] {
    height: initial;
}

.top-nav[data-opened = 'true'] > .nav-menu {
    transform: translateY(6rem);
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--ternary-color);
}

.navItem {
    list-style: none;
    margin-bottom: 1.5rem;
}

.navLink {
    display: block;
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5rem;
    color: var(--primary-color);
    text-align: center;
    transition: all 400ms ease-in-out 4ms;
}

.navLink:hover {
    box-shadow: 0 1rem 2rem red;
}

.navLink:focus {
    box-shadow: 0 1rem 2rem var(--primary-color);
    outline-style: solid; 
    outline-color: transparent;
}

.navLink:active {
    background-color: var(--primary-color);
    color: var(--ternary-color);
    transition: none;
}

.main-content {
    transition: all 400ms ease-in 4ms;
    margin-top: 5rem;
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    margin: 0 0 2.5rem 0;
}

.content:not(.services) {
    background-color: var(--background-color1);
    color: var(--primary-color);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
}

.content h1 {
    margin: 1.5rem 2rem;
    font-weight: 100;
}

.serviceWrapper {
    display: block;
}

.services h1 {
    color: var(--primary-color);
}

div[class = 'service'] {
    display: block;
    position: relative;
    padding: 2rem 1.2rem;
    margin: 0 0 1.5rem 0;
    background-color: var(--background-color1);
    border-radius: 0.5rem;
    color: var(--primary-color);
    height: 14rem;
    transition: height 400ms ease-in 4ms;
}

div[data-status = 'expanded'] {
    height: initial;
}

div[class = 'service'] h2 {
    padding: 1.5rem 0.6rem;
    font-weight: 300;
}

div[class = 'service'] p {
    margin-bottom: 2rem;
}

div[class = 'service'] span.text {
    display: block;
    transform-origin: top;
    height: 0;
    transform: scaleY(0);
    transition: all 400ms ease 4ms;
}

div[class = 'service'] .etc {
    display: block;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    background-color: var(--ternary-color);
    position: absolute;
    transform: rotate(180deg);
    border: none;
}

div[class = 'service'] .etc::before,
div[class = 'service'] .etc::after {
    content: '';
    display: block;
    min-width: 1rem;
    min-height: 0.3rem;
    position: absolute;
    top: 0.7rem;
    background-color: var(--primary-color);
}

div[class = 'service'] .etc::before {
    left: 0.25rem;
    transform: rotate(-45deg);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

div[class = 'service'] .etc::after {
    right: 0.25rem;
    transform: rotate(45deg);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

div[data-status = 'expanded'] .etc {
   transform: rotate(0deg);
}

div[data-status = 'expanded'] span.text {
    height: initial;
    transform: scaleY(1);
}

button.etc:active {
    background-color: green;
    outline-style: solid;
    outline-color: transparent;
}

a.gotop {
    display: block;
    border-radius: 50%;
    min-height: 3rem;
    min-width: 3rem;
    background-color: darkgray;
    border: 3px solid var(--ternary-color);
    position: fixed;
    bottom: 1rem;
    right: 0.2rem;
}

a.gotop:focus {
    background-color: orange;
    outline-style: solid;
    outline-color: transparent;
}

a.gotop:active {
    background-color: green;
}

button.etc:focus {
    background-color: orange;
    outline-style: solid;
    outline-color: transparent;
}

span[class |= 'gotop-line'] {
    min-width: 1.5rem;
    min-height: 0.2rem;
    display: block;
    background-color: var(--ternary-color);
    position: absolute;
    top: 1rem;
}

span.gotop-line-1 {
    transform: translateX(-0.4rem) rotate(-45deg);
    left: 0.5rem;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

span.gotop-line-2 {
    transform: translateX(0.4rem) rotate(45deg);
    right: 0.5rem;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
