@media screen and (min-width: 80em) {

    button.hamburger-button {
        display: none;
    }

    .top-nav[data-opened = 'false'] {
        height: initial;
        clear: none;
    }

    .top-nav[data-opened = 'true'] > .nav-menu {
        transform: translateY(1rem);
    }

    .top-nav > .nav-menu {
        display: flex;
        justify-content: flex-end;
        transform: translateY(1rem);
        transition: all 400ms linear 4ms;
    }

    .navItem {
        margin-bottom: 0;
    }

    .navLink {
        margin: 0 0 0 2rem;
    }

    .main-content {
        margin-top: 5rem;
    }

    .serviceWrapper {
        display: flex;
    }

    div[class = 'service'] {
        margin: 0 1.5rem 0 0;
        min-width: 15rem;
    }
    
}