@media screen and (min-width: 80em) {

    a:has(.logo):focus {
        outline: none;
    }
    
    a:has(.logo):focus > .logo::before{
        border: 1rem solid var(--primary-color);
        border-top: 0.5rem solid transparent;
    }
    
    a:has(.logo):active > .logo::before{
        border: 1rem solid green;
        border-top: 0.5rem solid transparent;
    }
    
    a:has(.logo):focus .logoText {
        color: black;
    }
    
    a:has(.logo):active .logoText {
        color: var(--primary-color);
    }
    

    label.hamburger-icon {
        transform: scale(0);
    }

    .top-nav {
        display: flex;
        justify-content: end;
        padding: 1.2rem 1.5rem;
        transform: translateX(0) scaleY(1);
    }
    
    .top-nav .nav-menu {
        display: flex;
        justify-content: space-between;
    }

    .navItem {
        margin-bottom: 0;
    }

    .navLink {
        margin: 0 0 0 2rem;
    }

    .navLink:hover {
        box-shadow: 0 1rem 2rem red;
    }

    .navLink:focus {
        box-shadow: 0 1rem 2rem black;
        outline: none;
    }
    

    .main-content {
        margin-top: 5rem;
    }

    .serviceWrapper {
        display: flex;
    }

    div[class = 'service'] {
        margin: 0 1.5rem 0 0;
        min-width: 15rem;
    }

    button.etc:focus {
        background-color: orange;
        outline: none;
    }

    button.etc:active {
        background-color: green;
        outline: none;
    }

    a.gotop:focus {
        background-color: orange;
        outline: none;
    }

    a.gotop:active {
        background-color: green;
    }
    
}